[Unit]
Description=GPIO Startup LED Flash
After=local-fs.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/sl/sl-wb-pi-api
ExecStart=/home/sl/sl-wb-pi-api/.venv/bin/python3 -m gpio.startup_flash

[Install]
WantedBy=sysinit.target
