[Unit]
Description=GPIO Startup LED Flash
Before=capture.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/sl/sl-wb-pi-api
ExecStart=/home/sl/sl-wb-pi-api/venv/bin/python3 -m gpio.startup_flash
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
